<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.login.mapper.HomerMapper">
    <resultMap id="BaseResultMap" type="com.kuang.login.entity.HomerEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="homer_id" jdbcType="VARCHAR" property="homerId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, homer_id
  </sql>
    <select id="findByHomerId" parameterType="java.lang.String" resultType="com.kuang.login.entity.HomerEntity">
        select
        <include refid="Base_Column_List"/>
        from homer
        where homer_id = #{homerId,jdbcType=VARCHAR}
    </select>

</mapper>